1. Speak to my of russinian.
2. If I give you  html code to modify, use always bootstrap 5.
3. If I give you  html code to modify, use always bootstrap 5.
4. For custom cssstyling html use /css/custom-new.css file to write css.
5. For media query use /css/media.css file to write media query.
6. Create beautiful, clean, responsive, medical clinic design.
7. Try to create a litle airbnb like design.
8. When changing html blocks, don't change the original text content.
9. Use this color #7acacd for buttons, borders, icons, etc.
10. When create icons, use fontawesome.
11. When I give you html code to modify, always keep the same structure.
12. Don short the original text content.
13. When edit big large html blocks split changes into smaller blocks to avoid timeout error.
14. When you write CSS styles, make sure they don't overwrite already defined styles for other HTML elements.